body{
    background-color: black;
}

.lista{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 100px;


}

h1{
    font-size: 6rem;
    color: white;
}

button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: rgb(252, 249, 246);
    border: none;
    cursor: pointer;
    transition: background-color 0.5 ease;
    
}

.agregar{
    background-color: rgb(42, 165, 46);

}

.agregar:hover{
    background-color: rgb(5, 135, 40);
}

.eliminar-button{
    background-color: rgb(255, 0, 0);
}

.eliminar-button:hover{
    background-color: rgb(131, 9, 9);
}

.subirTarea{
    background-color: #025299;

}

.subirTarea:hover{
    background-color: rgb(4, 42, 111);
}

.bajarTarea{
    background-color: rgb(249, 96, 8);
}

.bajarTarea:hover{
    background-color: rgb(218, 57, 3);
}

input[type="text"]{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid color(srgb red green blue);
    color: black;
}

ol{
    padding: 0;
}

li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: aliceblue;
    margin-bottom: 10px;
    border: 3px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.texto{
flex: 1;
}

.eliminar-button, .subirTarea, .bajarTarea{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}